body{font-family:Arial;background:#ffe6f0;text-align:center}
header{background:#ff4da6;color:white;padding:10px}
.products{display:flex;flex-wrap:wrap;justify-content:center;gap:15px}
.card{background:white;padding:10px;width:180px;border-radius:10px}
.card img{width:100%;height:140px}
button{background:#ff4da6;color:white;border:none;padding:5px;margin:5px}
.img-zoom{width:250px;margin:auto;overflow:hidden}
.img-zoom img{width:100%;transition:0.4s}
.img-zoom img:hover{transform:scale(1.4)}